@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Initiere Inot</h1>
    <p class="lead">Acest site este dedicat iubitorilor de inot</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Despre Antrenori</h2>
        <p>
           Aflati mai multe despre antrenorii nostri
        </p>
        <p><a class="btn btn-default" href="/../Antrenori/Index">Acceseaza &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Despre Clienti</h2>
        <p>Aflati mai multe despre clientii nostri</p>
        <p><a class="btn btn-default" href="/../Client/Index">Acceseaza &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Programari</h2>
        <p>Aici va puteti programa</p>
        <p><a class="btn btn-default" href="/../Programari/Index">Acceseaza &raquo;</a></p>
    </div>
</div>